body {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/111/473/small/sunny-weather-sign-icon-on-blue-background-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.fDF {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/111/473/small/sunny-weather-sign-icon-on-blue-background-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}